name: Generate CSM Docs

on:
  push:
    branches:
      - feature/github-worklow-generate-doc
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Setup SSH keys
        uses: webfactory/ssh-agent@v0.5.3
        with:
            ssh-private-key: ${{ secrets.DEPLOYKEY_WRITE_DOCS_CSM }}

      - name: Print some info about runner
        run: |
          uname -a
          printenv | sort
          which docker || true
          cat /etc/issue

      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Prepare runner
        run: |
          sudo apt install -y docker-compose

      - name: Run Generator
        run: |
          ./bin/build.sh

      - name: Do a listing
        run: |
          printenv
          git status
          ls -al 

      - run: echo "This job's status is ${{ job.status }}."