name: Generate CSM Docs

on:
  push:
    branches:
      - feature/github-worklow-generate-doc
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Debug
        run: |
          id
          pwd
          printenv | sort
          ls -al
          ls -al *

      - name: Prepare runner
        run: |
          sudo apt install -y docker-compose
          sudo systemctl start docker

      - name: Setup SSH keys
        uses: webfactory/ssh-agent@v0.5.3
        with:
            ssh-private-key: ${{ secrets.DEPLOYKEY_WRITE_DOCS_CSM }}

      - name: Check out csm-docs-html-builder repository
        uses: actions/checkout@v2
        with:
          path: csm-docs-html-builder

      - name: Run generator
        run: |
          pwd
          ls -al
          # ./bin/build.sh
        working-directory: csm-docs-html-builder

      - name: Push generated HTML
        run: |
          pwd
          ls -al
          git clone git@github.com:Cray-HPE/docs-csm.git
          cd docs-csm
          git checkout -b release/docs-html -t origin/release/docs-html || git checkout --orphan release/docs-html
          cd ..
          rm -rf docs-csm/*
          cp csm-docs-html-builder/public/* docs-csm/
          cd docs-csm
          git add .
          git commit -m "Generated HTML from docs-html revision ${{ github.sha }}"
          git log
