name: Generate CSM Docs

on:
  #schedule:
  #  # 3AM UTC / 11PM EST / 8PM PST
  #  - cron:  '0 3 * * *'
  push:
    branches:
      - feature/github-worklow-generate-doc-service
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 30
    # services:
    #   nginx:
    #     image: nginx
    #     # Map port 8080 on the Docker host to port 80 on the nginx container
    #     ports:
    #       - 8080:80
    #     volumes:
    #       - .:/usr/share/nginx/html
    if: ${{ runner.name == 'github-actions-runner-xl2q' }}
    steps:
      - name: clean runner from docker-compose and dependent packages
        run: |
          ls -al /etc/containerd
          ls -al /etc/default
          ls -al /etc/init.d
          sudo apt remove -y binutils binutils-common binutils-x86-64-linux-gnu cgroupfs-mount containerd \
              docker-compose docker.io libbinutils libctf-nobfd0 libctf0 libintl-perl \
              libintl-xs-perl libmodule-find-perl libmodule-scandeps-perl \
              libproc-processtable-perl libsort-naturally-perl libterm-readkey-perl \
              libyaml-0-2 needrestart python3-attr python3-cached-property python3-certifi \
              python3-chardet python3-distutils python3-docker python3-dockerpty \
              python3-docopt python3-idna python3-importlib-metadata python3-jsonschema \
              python3-lib2to3 python3-more-itertools python3-pkg-resources \
              python3-pyrsistent python3-requests python3-setuptools python3-six \
              python3-texttable python3-urllib3 python3-websocket python3-yaml \
              python3-zipp runc tini
      #    sudo apt install -y containerd.io==1.4.9-1 docker-ce==5:20.10.8~3-0~debian-bullseye docker-ce-cli==5:20.10.8~3-0~debian-bullseye docker-ce-rootless-extras==5:20.10.8~3-0~debian-bullseye

      # - run: |
      #     echo '<html>test</html>' > index.html
      #     curl -v http://localhost:8080/index.html

      # - name: Prepare runner
      #   run: |
      #     echo  "Running on ${RUNNER_NAME} in ${RUNNER_WORKSPACE}"
      #     sudo rm -rf csm-docs-html-builder

      # - name: Setup SSH keys
      #   uses: webfactory/ssh-agent@v0.5.3
      #   with:
      #       ssh-private-key: ${{ secrets.DEPLOYKEY_WRITE_DOCS_CSM }}

      # - name: Check out csm-docs-html-builder repository
      #   uses: actions/checkout@v2
      #   with:
      #     path: csm-docs-html-builder

      # - name: Run generator
      #   run: ./bin/build.sh
      #   working-directory: csm-docs-html-builder

      # - name: Push generated HTML
      #   run: ./bin/push.sh
      #   working-directory: csm-docs-html-builder
