name: Generate CSM Docs

on:
  #schedule:
  #  # 3AM UTC / 11PM EST / 8PM PST
  #  - cron:  '0 3 * * *'
  push:
    branches:
      - feature/github-worklow-generate-doc-service
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    timeout-minutes: 30
    services:
      nginx:
        image: nginx
        ports:
          - 80
        volumes:
          - public:/usr/share/nginx/html
    strategy:
      matrix:
        release: ["0.9", "1.0", "1.1", "1.2"]
      max-parallel: 4
    steps:
      - name: Run hugo
        uses: docker://peaceiris/hugo:v0.84.4-full
        with:
          entrypoint: mount

      # - run: |
      #     pwd
      #     ls -al
      #     docker volume ls --format "{{.Name}}: {{.Mountpoint}}"
      #     docker ps --no-trunc
      #     echo 'Generating docs for release ${{ matrix.release }}'
      #     # sudo bash -c "echo '<html>test</html>' > /var/lib/docker/volumes/public/_data/index.html"
      #     curl -v http://localhost:${{ job.services.nginx.ports['80'] }}/index.html

      # - name: Prepare runner
      #   run: |
      #     echo  "Running on ${RUNNER_NAME} in ${RUNNER_WORKSPACE}"
      #     sudo rm -rf csm-docs-html-builder

      # - name: Setup SSH keys
      #   uses: webfactory/ssh-agent@v0.5.3
      #   with:
      #       ssh-private-key: ${{ secrets.DEPLOYKEY_WRITE_DOCS_CSM }}

      # - name: Check out csm-docs-html-builder repository
      #   uses: actions/checkout@v2
      #   with:
      #     path: csm-docs-html-builder

      # - name: Run generator
      #   run: ./bin/build.sh
      #   working-directory: csm-docs-html-builder

      # - name: Push generated HTML
      #   run: ./bin/push.sh
      #   working-directory: csm-docs-html-builder
